body
	position relative
	height 100vh
	min-width 360px
	transition 0.5s all
	
html
	font-family Regular
	font-weight normal
	font-size 62.5%
	line-height 1.4
	letter-spacing 0
	min-width 320px
	color #2b303b
	margin-left auto
	margin-right auto

	+to-width(1024px)
		min-width 320px

	+to-width(365px)
		overflow-x hidden

section
	font-size 1.6rem

.page
	transform translate(0px, 0px)
	transition 0.5s transform
	width 100%
	&:after
		content ''
		height 100vh
		width 100%
		position absolute
		left 0
		top 0
		pointer-events none
		background-color rgba(37, 40, 45, .0)
		transition 0.5s background-color
		z-index 21
	&.page-transform
		transform translate(0px, -287px)
		&:after
			background-color rgba(37, 40, 45, .6)
			pointer-events auto
	&.page-transform-up
		transform translate(0px, 448px)
		&:after
			background-color rgba(37, 40, 45, .6)
			pointer-events auto
	&.page-fixed
		position fixed

.footer-slide
	width 100%
	top 100vh
	position fixed
	background white
	transform translateY(0px)
	transition 0.5s transform
	&.footer-slide_open-one
		transform translateY(-287px)
	&.footer-slide_open-two
		transform translateY(-400px)
		position relative

.wrap
	position relative
	width 1545px
	padding 0 100px
	margin-left auto
	margin-right auto
	+to-width(1920px)
		width 100%
		

/*	+to-width(1250px)
		width 960px

	+to-width(992px)
		width 920px
	
	+to-width(960px)
		width 768px
		padding 0 20px
*/
	+to-width(784px)
		width 100%
		padding 0 20px

	+to-width(550px)
		padding 0 20px


.hidden
	display none


section
	.section__title
		color #212121
		font-size 32px
		text-align left
		font-family Black
	.section__text
		color #414141
		font-size 16px
		padding-bottom 53px
		font-family Bold

.is-sticky
	header.header
		background-color #303030

.tags
	display flex
	margin-top 10px
	margin-left -1px
	.tags__tag
		color white
		padding 4px 15px
		font-size 12px
		margin-right 8px
		border-radius 50px
		background-color #7ed321
		&.tags__tag_design
			background-color #7ed321
		&.tags__tag_frontend
			background-color #fee23c
			color black
		&.tags__tag_backend
			background-color #2c9cfc
		&.tags__tag_designing
			background-color #b79d82
		

.simple-button
	width 180px
	font-size 16px
	height 40px
	font-family Bold
	display flex
	justify-content center
	align-items center
	border-radius 50px
		
