footer.footer
	background-color #303030
	width 100%
	color white
	font-size 24px
	padding-top 20px
	padding-bottom 30px
	+to-width(1250px)
		font-size 20px
	.wrap
		display flex
		justify-content space-between
		align-items center
		+to-width(460px)
			flex-direction column

		.footer__logo
			display flex
		nav.footer__navigation
			+to-width(960px)
				display none
			ul.footer__navigation__items
				display flex
				li.footer__navigation__item
					font-size 17px
					border-bottom 1px solid #FFDB4C
					padding-bottom 2px
					margin-right 48px
					cursor pointer
					t()
					&:last-child
						margin-right 0
					&:hover
						border-bottom 1px solid transparent
					a
						color white
					+to-width(1250px)
						font-size 16px
						margin-right 25px
		.footer__telephone
			display flex
			t()
			&:hover
				opacity 0.7
			+to-width(460px)
				margin-top 30px
			p.footer__telephone__text
				color white
				margin-left 10px
		&.wrap-footer
			.footer__bottom
				width 100%
				display flex
				justify-content space-between
				align-items flex-end
				padding-top 30px
				font-size 18px
				color rgba(255, 255, 255, .5)
				+to-width(670px)
					flex-direction column
					align-items center
					justify-content center
				.footer__bottom__left
					+to-width(670px)
						display flex
						flex-direction column
						align-items center
						margin-top 40px
						font-size 16px
					.footer__copyright
						padding-bottom 10px
					.footer__link
						font-size 16px
						color rgba(255, 255, 255, .5)
						padding-bottom 2px
						border-bottom 1px solid #FFDB4C
						t()
						&:hover
							border-bottom 1px solid transparent
				
				.footer__bottom__middle
					margin-bottom -3px
					display none
					
					&.footer__bottom__middle_mobile
						+to-width(670px)
							display flex
					.footer__adress
						line-height 26px
				
				.footer__bottom__right
					height 100%
					+to-width(670px)
						margin-top 30px
					.footer__autor
						color white
						white-space nowrap
						a
							color white
							padding-bottom 2px
							border-bottom 1px solid #FFDB4C
							t()
							&:hover
								border-bottom 1px solid transparent