section.projects
	padding-top 165px
	padding-bottom 100px
	nav.projects__nav
		.projects__nav__list
			display flex
			.projects__nav__item-link
				margin-right 50px
				font-size 24px
				font-family Semibold
				color #1539d0
				border none
				border-bottom 1px solid rgba(21, 51, 208, .3)
				background transparent
				t()
				&:hover
					color black
					border-bottom 1px solid transparent
				&.active
					color black
					border-bottom 1px solid transparent
	.projects__tags
		margin-top 33px
		width 100%
		ul.projects__tags__items
			display flex
			width 100%
			margin-left -16px
			input
				display none
				&:checked + label
					color white
				&#checkbox-design
					&:checked + label
						background #7ed321
				&#checkbox-frontend
					&:checked + label
						background #fee23c
						color black
				&#checkbox-backend
					&:checked + label
						background #2c9cfc
				&#checkbox-designing
					&:checked + label
						background #b79d82
				
			label
				cursor pointer
				font-size 16px
				padding 6px 18px
				border-radius 50px
				font-family Semibold
				border none
				background transparent
				color #555
				margin-right 12px
				t()
	.projects__items
		width 100%
		flex()
		.projects__item
			height 258px
			margin-top 50px
			padding 0 20px
			&.col-1
				width 33%
			&.col-2
				width 67%
			.projects__item__content
				background #333
				background-position center
				width 100%
				height 100%
				background-repeat no-repeat
				position relative
				background-size 100%
				t()
				.projects__item__wrap
					opacity 0
					position relative
					z-index 2
					padding 40px
					height 100%
					t()
					
					h3.projects__item__title
						color #ffffff
						font-size 32px
						font-family Black
						transform translateX(-25px)
						transition 0.65s all
					p.projects__item__text
						font-size 16px
						color white
						margin-top 10px
						transform translateX(-25px)
						line-height 20px
						transition 0.35s all
					.projects__item__button
						color #1539d0
						background-color white
						margin-top 18px
						transform translateX(-25px)
						position absolute
						bottom 40px
						left 39px
						transition 0.25s all
					.projects__item__date
						position absolute
						z-index 2
						right 40px
						top 40px
						font-size 32px
						font-family Black
						color rgba(255, 255, 255, .3)
						transform translateY(25px)
						opacity 0
						transition 0.40s all
						transition-delay 0.2s
					.tags
						transform translateX(-25px)
						transition 0.5s all
				&:before
					content ''
					position absolute
					z-index 1
					left 0
					top 0
					width 100%
					height 100%
					background-color rgba(33, 33, 33, 0)
					transition 0.2s all
				&:hover
					background-size 105%
					&:before
						background-color rgba(33, 33, 33, 0.7)
					.projects__item__wrap
						opacity 1
					p.projects__item__text
						transform translateX(0px)
					.projects__item__button
						transform translateX(0px)
					h3.projects__item__title
						transform translateX(0px)
					.tags
						transform translateX(0px)
					.projects__item__date
						transform translateY(0px)
						opacity 1