header.header
	.wrap
		a(href="/").header__logo
			img(src="assets/images/svg/logo.svg").header__logo-icon
			p.header__logo-text EcoTech
		nav.header__navigation
			ul.header__navigation__items
				li.header__navigation__item.links__navigation__about 
					a(href="projects.html") Проекты
				li.header__navigation__item.links__navigation__factories 
					a(href="#") Контакты