section.pickshot(style="background-image: url('assets/images/detail.jpg');")
	.wrap
		h1.pickshot__title Грейнрус
		.tags
			.tags__tag.tags__tag_design #дизайн
			.tags__tag.tags__tag_frontend #frontend
			.tags__tag.tags__tag_backend #backend
			.tags__tag.tags__tag_designing #прототипирование
		p.pickshot__text Адаптация под телефон онлайн-магазина по продаже товаров для пивоварения