section.policy
	.wrap
		.policy__wrap-title
			h2.section__title Политика конфиденциальности
			.policy__close
				img(src="assets/images/svg/close.svg")
				p.policy__close__text Закрыть
		.policy__wrap
			h4.policy__title Сбор информации
			p.policy__text При оставлении заявки на ресурсе EcoTech клиенты предоставляют следующую сведения:
			ul.policy__list
				li.policy__list__item Имя
				li.policy__list__item Контактный E-mail
				li.policy__list__item Контактный телефон
			p.policy__text Также администрация веб-студии получает данные об IP-адресе посетителей, а также о типе браузера, времени нахождения на сайте и прочие подобные сведения. Сбор ведётся с помощью сервисов статистики.
			h4.policy__title Использование информации
			p.policy__text Вся полученная информация используется администрацией EcoTech исключительно в целях связи с клиентом.

			h4.policy__title Защита персональных данных
			p.policy__text EcoTech обязуется не разглашать сведения, полученные от клиентов. Предоставление данных третьим лицам. Полученные сведения не могут быть переданы третьим лицам, за исключением следующих случаев:
			ul.policy__list
				li.policy__list__item Для исполнения обязательств перед клиентом — только с его разрешения.
				li.policy__list__item В соответствии с обоснованными и применимыми требованиями закона.
			h4.policy__title Контакты
			p.policy__text По всем вопросам вы можете обращаться к администрации сайта. <br>E-mail: order@upecotech.com <br>Настоящая редакция политики конфиденциальности опубликована 18 сентября 2018 года.