section.contacts
	.wrap
		.contacts__wrap-title
			h2.section__title Контакты
			.contacts__close
				img(src="assets/images/svg/close.svg")
				p.contacts__close__text Закрыть
	.map#map
	.wrap
		.contacts__items
			.contacts__item
				h3.contacts__title Приехать
				p.contacts__text г. Санкт-Петербург, ул. Разъезжая 5
			.contacts__item
				h3.contacts__title Написать
				a(href="mailto:sales@ecotechcorp.ru").contacts__link.contacts__mail sales@ecotechcorp.ru
			.contacts__item
				h3.contacts__title Позвонить
				a(href="tel: 8 931 222 11 33").contacts__link +7 (931) 222 11 33
