section.detail-main
	.wrap
		.detail-main__left
			.detail-main__left__item
				h2.detail-main__title Задача
				.detail-main__line
				p.detail-main__text Холдинговой компании ReCa, владеющей 18 ресторанами в Санкт-Петербурге, потребовалось объединить их в одном интернет-ресурсе.
				p.detail-main__text Наша задача состояла в том, чтобы полноценно представить почти два десятка различных проектов в рамках одного ресурса, подчеркнув особенности каждого, но сохранив при этом объединяющее начало.
			.detail-main__left__item
				h2.detail-main__title Над проектом работали
				.detail-main__line
				ul.detail-main__list
					li.detail-main__text Дизайн <span>Егор Старков</span>
					li.detail-main__text Frontend <span>Леша Чернов</span>
					li.detail-main__text Backend <span>Алексей Русаковский</span>
		.detail-main__right
			.detail-main__right__image(style="background-image:url('assets/images/logo.png');")
			p.detail-main__right__text Грейнрус – торгово-производственная компания, основными направлениями деятельности, которой являются: сырье для пивоваренной отрасли, виноделие, импорт шрота и зерновой трейдинг.
section.detail-picture

section.detail-basic
	.wrap
		.detail-basic__line
		p.detail-basic__text Грейнрус – торгово-производственная компания, основными направлениями деятельности, которой являются: сырье для пивоваренной отрасли, виноделие, импорт шрота и зерновой трейдинг.

section.detail-picture

section.detail-picture

section.detail-basic
	.wrap
		.detail-basic__line
		p.detail-basic__text Грейнрус – торгово-производственная компания, основными направлениями деятельности, которой являются: сырье для пивоваренной отрасли, виноделие, импорт шрота и зерновой трейдинг.
		a(href="#").simple-button.detail-basic__button Смотреть проект