section.welcome
	.background-animation.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="0s")
		.background-animation__elem_square
		.background-animation__elem_line
	.wrap.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="2s")
		h1.welcome__title Делаем <a href="#">сайты</a>, <a href="#">игры</a> и <a href="#">приложения</a> <a href="#">для бизнеса</a>

