extends ../layouts/default

block head

block content
	include ../blocks/section-contacts
	.page.page-detail
		include ../blocks/header
		include ../blocks/section-pickshot
		include ../blocks/section-detail-main

	script(src="assets/scripts/libs/jquery/dist/jquery.min.js")
	//- script(src='assets/scripts/libs/wow/dist/wow.min.js')
	script(src="assets/scripts/main.js")
