extends ../layouts/default

block head

block content
	include ../blocks/section-contacts
	.page.page-projects
		include ../blocks/header
		include ../blocks/section-projects


	script(src="assets/scripts/libs/jquery/dist/jquery.min.js")
	script(src="assets/scripts/libs/isotope/dist/isotope.pkgd.js")
	//- script(src="assets/scripts/libs/shuffle/shuffle.min.js")
	//- script(src='assets/scripts/libs/wow/dist/wow.min.js')
	script(src="assets/scripts/main.js")
	script(src="assets/scripts/projects.js")
